.newsCard {
    margin: 20px 5%;
    width: 90%;
    background: #282828;
    box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.15), -8px -8px 20px rgba(255, 255, 255, 0.05);
    border-radius: 40px;
    color: #fff;
    text-align: left;

    h5{
        margin: 10px 40px;
        line-height: 20px;
    }
}