.openedTaskTitle {
    margin:0 0 10px 2%;
    width: 40%;
    display: flex;
    justify-content: space-around;

    h3 {
        font-size: 30px;
        line-height: 20px;
        color: #fff;
    }
}